img{
   width: 50px;
    
}

.card{
    background-color: rgba(122, 59, 200, 0.2)!important;
    user-select: none;
    border: 3px solid rgb(99, 53, 170)!important;
    border-radius: 30px !important;
}
.price{
    color: rgba(255, 217, 0, 0.655) ;
}

.link{
   text-decoration: none; 
}
